@mixin button($color: green) {
  height: 35px;
  min-width: 35px;
  padding: 3px;
  text-align: center;
  position: relative;
  display: inline-block;
  cursor: pointer;
  & span {
    font-size: 30px;
  }
  &:active,
  &.active {
    color: $color;
  }
  &:hover {
    background: #eee;
  }
}

@mixin clearList() {
  list-style: none;
  margin: 0;
  padding: 0;
}
